@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

h2, h3, h4, h5 {
    font-weight: 700;
    color: #252B42;
}

h2 {
    font-size: 40px;
    line-height: 57px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
}

h6 {
    font-weight: 600;
    line-height: 24px;
    color: #737373;
}

button, a {
    cursor: pointer;
    transition: 0.3s ease;
}

header.scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #F6F6F6 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

@media (max-width:1024px) {
    header.scroll {
        height: 84px;
    }
}

@media (max-width:768px) {
    header.scroll {
        height: 74px;
    }

    .container.contact {
        padding: 0;
    }
}

@media (max-width:640px) {
    header.scroll {
        height: 64px;
    }
}